{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="menu_section_full">
        <a class="megamenu_toggle2" href="#">
            <div class="megamenu_icon">
                &times;
            </div>
        </a>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <ul class="services_links"> 
                        <li><a href="#">App Development</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">IOS Development</a></li>
                        <li><a href="#">Graphics Designing</a></li>  
                    </ul>
                    <ul class="social_links">  
                        <li><a href="#"><i class="fab fa-skype"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div> 
                <div class="col-12 col-md-6">
                    <div class="links_sec">
                        <h3>Links</h3>         
                        <ul class="navhide"> 
                            <li><a href="#whatwecado">Services</a></li>   
                            <li><a class="custom_onclicknav" data-show="aboutus" href="javascript:void('0');">About Us</a></li>
                            <!--<li><a class="custom_onclicknav" data-show="training" href="javascript:void('0');">Training</a></li>-->
                            <li><a href="#howweareworking">Work</a></li>
                            <li><a class="custom_onclicknav" data-show="careers" href="javascript:void('0');">Careers</a></li>
                            <li><a href="#contactus">Contact Us</a></li> 
                        </ul>
                    </div>
                    <a href="#" class="btn btn-primary btn-orange">Start a Project</a>
                    <ul class="address"> 
                        <li>315 Orbit Mall, Indore, Madhya Pradesh, - 452001</li>
                        <li><a href="mailto:info@webllisto.com">info@webllisto.com</a></li>
                        <li><a href="tel:+917314993378">+917314993378</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
<div id="fullpage">   
    
    <section class="section1 section section_common">
        <div class="container">
            <div class="main_slider">     
                <div class="main_slide">    
                    <div class="row">    
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/home_image1.png' %}" class="img-fluid home_image1" alt="Web Development" />
                        </div> 
                        <div class="col-12 col-md-6">
                            <div data-aos="fade-right" class="home_content1">
                                <h1>We Create <br />Web Interfaces <br />Development</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodipisicing elit, sed do eiusmodipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                <a href="#" class="btn btn-primary btn-orange">Start a Project</a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="main_slide">    
                    <div class="row">    
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/slide2_img.png' %}" class="img-fluid home_image1" alt="Mobile Development" />
                        </div> 
                        <div class="col-12 col-md-6">
                            <div data-aos="fade-right" class="home_content1">
                                <h1>We Create <br />Web Interfaces <br />Development</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodipisicing elit, sed do eiusmodipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                <a href="#" class="btn btn-primary btn-orange">Start a Project</a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="main_slide">    
                    <div class="row">    
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/slide3_img.png' %}" class="img-fluid home_image1" alt="Graphics Designing" />
                        </div> 
                        <div class="col-12 col-md-6">
                            <div data-aos="fade-right" class="home_content1">
                                <h1>We Create <br />Web Interfaces <br />Development</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodipisicing elit, sed do eiusmodipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                <a href="#" class="btn btn-primary btn-orange">Start a Project</a>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="main_slide">    
                    <div class="row">    
                        <div class="col-12 col-md-6">
                            <img src="{% static 'images/slide4_img.png' %}" class="img-fluid home_image1" alt="Blockchain Image" />
                        </div> 
                        <div class="col-12 col-md-6">
                            <div data-aos="fade-right" class="home_content1">
                                <h1>We Create <br />Web Interfaces <br />Development</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodipisicing elit, sed do eiusmodipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
                                <a href="#" class="btn btn-primary btn-orange">Start a Project</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>

    <section class="section2 section  section_common">
        <div class="container">
            <div class="row">    
                <div class="col-12 col-md-12">
                    <div class="custom_card_wr_490">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit.<a href="#" class="view_more_link">What We Can Do</a>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/web_development_icon1.png' %}" alt="Web Develpoment Image">
                        <div class="card-body">
                            <h5 class="card-title">Web Develpoment</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="view_more_link view_service_details">Work</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/app_development_icon1.png' %}" alt="App Develpoment Image">
                        <div class="card-body">
                            <h5 class="card-title">App Develpoment</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="view_more_link view_service_details">Work</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="{% static 'images/graphics_design_icon1.png' %}" alt="Graphics Design Image">
                        <div class="card-body">
                            <h5 class="card-title">Graphics Design</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="view_more_link view_service_details">Work</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="card">
                        <img class="card-img-top blockchain_image" height="177" src="{% static 'images/blockchain_icon1.png' %}" alt="Blockchain Image">
                        <div class="card-body">
                            <h5 class="card-title">Blockchain</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="view_more_link view_service_details">Work</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section3 section  pp-scrollable  section_common">
     
        <div class="container-fluid hr_scrolling"> 
            <h2 class="main_heading">HOW WE ARE<br />WORKING</h2>
            <div class="inner_container">
                <div class="row">    
                    <div class="col-12 col-md-12">
                     
                        <div id="sliderfp">   
                            <div class="s3_textbox_wr s3_textbox_part1">  
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                                <img src="{% static 'images/hww_img1.png' %}" alt="" /> 
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part2">  
                                <img src="{% static 'images/hww_img2.png' %}" alt="" /> 
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part3">   
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                                 <img src="{% static 'images/hww_img3.png' %}" alt="" /> 
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part4">   
                                 <img src="{% static 'images/hww_img4.png' %}" alt="" /> 
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part5">   
                                 <img src="{% static 'images/hww_img5.png' %}" alt="" /> 
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part6">   
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                                <img src="{% static 'images/hww_img6.png' %}" alt="" /> 
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part7">   
                                <img src="{% static 'images/hww_img7.png' %}" alt="" /> 
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part8">   
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                                <img src="{% static 'images/hww_img8.png' %}" alt="" /> 
                            </div>
                            <div class="s3_textbox_wr s3_textbox_part9">           
                                <img src="{% static 'images/hww_img9.png' %}" alt="" />  
                                <div class="s3_textbox">
                                    <h3>Discussing the idea with you to evaluate the concept.</h3>
                                    <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--<div class="blockhrscroller"></div>-->
    </section>

    <section class="section4 section  contact_section section_common">
        <div class="container-fluid">
            <div class="row">    
                <div class="col-12">
                    <h2 class="main_heading">CONTACT US</h2>
                    <p class="p1">Indore Madhya Pradesh</p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.5401758206567!2d75.89221991449293!3d22.745326332341563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fd5d9b59644d%3A0xce0a63c54471d620!2sWebllisto+Technologies!5e0!3m2!1sen!2sin!4v1543565429851" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>    </div> 
            </div>
        </div>
        <div class="container">
            <div class="row">    
                <div class="col-12 col-md-6">
                    <div class="f_phone_wr">
                        <p class="f_phone"><a href="tel:+917314993378">+917314993378</a></p>
                        <p class="f_phone"><a href="tel:+917314993378">+917314993378</a></p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="f_address">
                        <p>315 Orbit Mall, Indore, <br />Madhya Pradesh - 452001</p>
                        <a href="mailto:info@webllisto.com">info@webllisto.com</a> <br />
                        <a href="mailto:hr@webllisto.com">hr@webllisto.com</a>
                        <a class="contact_us_link btn btn-primary" href="javascript:void('0');"   data-toggle="modal" data-target="#ContactModal">Contact Us</a> 
                     </div> 
                </div>   
            </div>
        </div>
    </section>
   
</div> 
      
    <section class="section5 what_we_can_do wwcd_inner section_common">
        <div class="container-fluid">
            <div class="left_arrow_bar">
                <a class="logo" href="/"> 
                    <img src="{% static 'images/webllisto_logo.png' %}" class="img-fluid" alt="Webllisto Logo">
                </a>
            </div>
            <div class="left_arrow_design"></div>
            <div class="row">    
                <div class="col-12">
                    <h2 class="main_heading">What We Can Do</h2>
                    <div class="what_we_do">
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li class="sub_items">
                                <a href="#" class="php_icon">PHP</a>
                                <a href="#" class="wp_icon">WordPress</a>
                                <a href="#" class="ci_icon">Codeigniter</a>
                                <a href="#" class="py_icon">Python</a>
                                <a href="#" class="njs_icon">Nodejs</a>
                                <a href="#" class="ajs_icon">AngularJs</a>
                                <a href="#" class="rjs_icon">React Js</a>
                            </li>
                            <li><a href="#">App Development</a><br /><span>Native App development<br />(Android, IOS)</span></li>
                            <li class="sub_items">
                                <a href="#" class="java_icon">Java</a>
                                <a href="#" class="oc_icon">Objective C</a>
                                <a href="#" class="sw_icon">Swift</a>
                            </li>
                            <li><a href="#">App Development</a><br /><span>Hybrid App development<br />(Android, IOS)</span></li>
                            <li class="sub_items">
                                <a href="#" class="ionic_icon" >Ionic</a>
                                <a href="#" class="react_icon">React Native</a>
                                <a href="#" class="xin_icon">Xamarin</a>
                            </li>
                            <li><a href="#">Design</a></li>
                            <li class="sub_items design_items">
                                <a href="#">Creatives</a>
                                <a href="#">UI</a>
                                <a href="#">UX</a><br />
                                <a href="#">Logo</a>
                                <a href="#">Branding</a>
                            </li>
                            <li><a href="#">Blockchain <br />Development</a></li>
                            <li class="sub_items">
                                <a href="#" class="hl_icon">Hyperledger</a>
                                <a href="#" class="eth_icon">Ethereum</a>
                            </li>
                        </ul> 
                    </div>    
                    <div class="wwd_hover_image_wr"><img src="{% static 'images/wwd_hover_bg.png' %}" class="wwd_hover_image" />
                        <div class="desc">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit 
consequat ipsum. Proin gravida nibh vel velit auctor aliquet.</div>
                    </div>
                </div>
            </div>
        </div>
    </section> 

    <section class="section6 careers_page section_common">
        <div class="container">
            <div class="row">    
                <div class="col-12">
                    <div class="c_container">
                        <h2 class="main_heading">Career</h2>
                        <h3 class="heading_2">We hire <span>passionate, curious<br />people</span> to do the <span class="sp2">best work of</span><br /> their <span class="sp2">careers.</span></h3>
                        <ul class="nav" id="career_tabs" role="tablist">
                           <li class="nav-item">
                               <a class="nav-link active" id="developertab-tab" data-toggle="tab" href="#developertab" role="tab" aria-controls="developertab" aria-selected="true">for developers</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" id="designertab-tab" data-toggle="tab" href="#designertab" role="tab" aria-controls="designertab" aria-selected="false">for designers</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" id="interntab-tab" data-toggle="tab" href="#interntab" role="tab" aria-controls="interntab" aria-selected="false">for interns</a>
                           </li> 
                       </ul> 
                        <div class="tab-content" id="careerContent">
                            <div class="tab-pane fade show active" id="developertab" role="tabpanel" aria-labelledby="developertab-tab">
                                
                                <div class="form-row mb_60">
                                    <div class="col-4">
                                        <h3>Which developer you are?</h3>
                                    </div>
                                    <div class="col-4">
                                        <select class="custom-select selectdeveloper">
                                            <option selected>I am...</option>
                                            <option value="ios">I'm IOS Developer</option>
                                            <option value="php">I'm PHP Developer</option>
                                            <option value="python">I'm Python Developer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb_60">
                                    <div class="col-5">
                                        <h3>Which developer you are?</h3>
                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel 
velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, 
nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio 
sit amet nibh vulputate cursus a sit amet mauris.</p>
                                        <a data-dtype='phpdeveloper' data-ctype='developer' href="#" class="view_more_link apply_now_btn">Apply</a> 
                                    </div>
                                    <div class="col-7">
                                        <h3>Skills Required</h3> 
                                        <ul>
                                            <li>This is Photoshop's version  of Lorem Ipsum This is Photoshop's version  of Lorem </li>
                                            <li>This is Photoshop's version  of Lorem Ipsum This is Photoshop's version  of Lorem </li>
                                            <li>This is Photoshop's version  of Lorem Ipsum This is Photoshop's version  of Lorem </li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="tab-pane fade" id="designertab" role="tabpanel" aria-labelledby="designertab-tab">
                                <div class="form-row mb_60">
                                    <div class="col-4">
                                        <h3>Which designer you are?</h3>
                                    </div>
                                    <div class="col-4">
                                        <select class="custom-select" id="selectdeveloper">
                                            <option selected>I am...</option>
                                            <option value="webdesigner">I'm Web Designer</option>
                                            <option value="graphicsdesigner">I'm Graphics Design</option>
                                            <option value="uidesinger">I'm UI Designer</option>
                                            <option value="uxdesigner">I'm UX Designer</option>
                                            <option value="uiuxdesigner">I'm UI and UX Designer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb_60">
                                    <div class="col-5">
                                        <h3>Which developer you are?</h3>
                                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel 
velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, 
nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio 
sit amet nibh vulputate cursus a sit amet mauris.</p>
                                        <a href="#" class="view_more_link apply_now_btn">Apply</a> 
                                    </div>
                                    <div class="col-7">
                                        <h3>Skills Required</h3> 
                                        <ul>
                                            <li>This is Photoshop's version  of Lorem Ipsum This is Photoshop's version  of Lorem </li>
                                            <li>This is Photoshop's version  of Lorem Ipsum This is Photoshop's version  of Lorem </li>
                                            <li>This is Photoshop's version  of Lorem Ipsum This is Photoshop's version  of Lorem </li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="interntab" role="tabpanel" aria-labelledby="interntab-tab">
                                Intern
                            </div>

                        </div>
                    <h3 class="heading_2 mb_40">Anyway..! <span>Send your resume</span></h3>
                        <form class='career_form' action=''>
                            <div class='form-row'>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <input type="text" name='candidate_name' placeholder='Name' class='form-control' />
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <input type="text" name='candidate_phone' placeholder='Phone' class='form-control' />
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <input type="email" name='candidate_email' placeholder='Email' class='form-control' />
                                    </div>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <input type="text" name='candidate_exp' placeholder='Experience' class='form-control' />
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <input type="text" name='candidate_cctc' placeholder='Current CTC' class='form-control' />
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class='form-group'>
                                        <input type="file" name='candidate_resume' placeholder='Experience' class='form-control' />
                                    </div>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class='col-md-8'>
                                    <div class='form-group'>
                                        <textarea name='candidate_message' placeholder='Message' class='form-control'></textarea>
                                    </div>
                                </div>
                                <div class='col-md-4'>
                                    <div class='form-group button_wr'>
                                        <input type="submit" name='send_resume' value='Submit' class='submit_resume' />
                                     </div>
                                </div>
                            </div>
                        </form>
                        <p class='text-center'><a class='back_to_home_link' href='#'>back to home</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section7 career_full_page section_common clearfix">
        <img class="bg_img" src="{% static 'images/career_bg.png' %}" alt="" />  
        <div class="container"> 
            <!--<form class='career_full_form' action=''>-->
                <div class='form-row'>
                    <div class='col-md-3'>
                        <div class='form-group'> 
                            <input type="text" name='c_first_name' placeholder='First Name' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_last_name' placeholder='Last Name' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_father' placeholder='Fathers Name' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_mother' placeholder='Mothers Name' class='form-control' />
                        </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <select name='c_gender' class='custom-select'>
                                <option value=''>Gender</option>
                                <option value=''>Male</option>
                                <option value=''>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <select name='c_high_qual' class='custom-select'>
                                <option value=''>Highest Qualification</option>
                                <option value=''>Male</option>
                                <option value=''>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <select name='c_qual' class='custom-select'>
                                <option value=''>Year Of Qualification</option>
                                <option value=''>Male</option>
                                <option value=''>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <select name='c_marital_status' class='custom-select'>
                                <option value=''>Marital Status</option>
                                <option value=''>Male</option> 
                                <option value=''>Female</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <select name='c_actual_exp' class='custom-select'>
                                <option value=''>Actual Experience</option>
                                <option value=''>Male</option>
                                <option value=''>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <select name='c_work_exp' class='custom-select'>
                                <option value=''>Total Working Experience</option>
                                <option value=''>Male</option>
                                <option value=''>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="email" name='c_email' placeholder='Email ID' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_contact' placeholder='Contact Number' class='form-control' />
                        </div> 
                    </div> 
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_alt_contact' placeholder='Alternative Contact Number' class='form-control' />
                        </div> 
                    </div> 
                </div> 
           
            <h3 class="heading_3 text-center add_more_options">Past & Present <span class="add_more_exp"><i class="fas fa-plus"></i></span> <span class="remove_exp"><i class="far fa-trash-alt"></i></span> </h3>
            
                <div class='form-row row_25_per'> 
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_emp_name[]' placeholder='Employer Name' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_emp_location[]' placeholder='Employer Location' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_emp_jobtitle[]' placeholder='Employer Location' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>     
                        <div class='form-group'>
                            <input type="text" name='c_emp_startdate[]' placeholder='Start Date' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class='form-group'>
                            <input type="text" name='c_emp_enddate[]' placeholder='End Date' class='form-control' />
                        </div>
                    </div>
                </div>
            
                <div class='form-row'> 
                    <div class='col-md-12'>  
                        <div class='form-group'>
                            <input type="text" name='c_skills' placeholder='Skills' class='form-control' />
                        </div>
                    </div>
                </div>  
                
                <div class='form-row'> 
                    <div class='col-md-2'>
                        <div class='form-group'>
                            <input type="text" name='c_state' placeholder='State' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class='form-group'>
                            <input type="text" name='c_district' placeholder='District' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class='form-group'>
                            <input type="text" name='c_city' placeholder='City' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-2'>      
                        <div class='form-group'>
                            <input type="text" name='c_area' placeholder='Area' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class='form-group'>
                            <input type="text" name='c_address[]' placeholder='Address' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-2'>
                        <div class='form-group'>     
                            <input type="text" name='c_pin[]' placeholder='Pin Code' class='form-control' />
                        </div>
                    </div>
                </div>
                
                <div class='form-row'>
                    <div class='col-md-8'>
                        <div class='form-group'>     
                            <input type="file" name='c_resume[]' placeholder='Resume' class='form-control' />
                        </div>
                    </div>
                    <div class='col-md-4'>
                        <div class='form-group button_wr'>
                            <input type="submit" name='send_resume' value='Submit' class='submit_resume' />
                         </div>
                    </div>
                </div>
            <!--</form>-->
        </div>
    </section>
    
    <section class="section8 about_us_page section_common">
        <div class="container"> 
            <div class='row'>
                <div class='col-12 col-md-6'>
                    <h2 class="main_heading">About <span>Webllisto</span>.</h2>
                </div>    
                <div class='col-12 col-md-6'>
                    <div class="basic_desc">
                        <p>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh
                            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum 
                            auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                             Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                            Morbi accumsan ipsum velit.
                        </p>    
                    </div> 
                </div>    
            </div>    
        </div>    
        <div class="container-fluid"> 
            <div class='row'>
                <img class='mb_100 about_bg_image img-fluid' src="{% static 'images/about_bg_img.jpg' %}" alt="" />   
            </div>    
        </div> 
         <div class="container"> 
            <div class='row'>
                <div class='col-12 col-md-6'>
                    <h2 class="main_heading">Company culture</h2>
                </div>    
                <div class='col-12 col-md-6'>
                    <div class="basic_desc">
                        <p>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh
                            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum 
                            auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                             Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                            Morbi accumsan ipsum velit.
                        </p>    
                    </div> 
                </div>    
            </div>    
        </div>
         <div class="container mb_135"> 
            <div class='row'>
                <div class='img_type1'>
                    <img class='img-fluid' src="{% static 'images/about_img1.jpg' %}" alt="" />
                </div>    
                <div class='img_type2'>
                    <img class='img-fluid' src="{% static 'images/about_img2.jpg' %}" alt="" />
                </div>    
            </div>    
            <div class='row'>
                <div class='img_type2'>
                    <img class='img-fluid' src="{% static 'images/about_img2.jpg' %}" alt="" />
                </div>    
                <div class='img_type1'>
                    <img class='img-fluid' src="{% static 'images/about_img1.jpg' %}" alt="" />
                </div>    
            </div>    
        </div>
    </section>

    <section class="section9 internship section_common">
        <div class="container"> 
            <div class='row'>
                <div class='col-12 col-md-6'>
                    <h2 class="main_heading">Looking for <span>Internship?</span></h2>
                </div>    
                <div class='col-12 col-md-6'>  
                    <div class="basic_desc">
                        <p>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh
                            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum 
                            auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                             Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                            Morbi accumsan ipsum velit.
                        </p>    
                    </div> 
                </div>    
            </div>    
        </div>    
        <div class="container-fluid"> 
            <div class='row'> 
                <div class='col-12 col-md-8'>
                    <div class="row full_bgimg mb_100"></div>  
                </div>    
                <div class='col-12 col-md-4'>
                    <form action="" method="post" class="inters_form_design" > 
                        <h3 class="text-center">Apply for it</h3>
                        <div class="form-group"> 
                            <input class="form-control" type="text" name="inter_name" value="" placeholder = "Full Name" />
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="inter_name" value="" placeholder="Email"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="inter_phone" value="" placeholder="Phone"/>
                        </div>        
                        <div class="form-group">
                            <input class="form-control" type="text" name="inter_phone" value="" placeholder="Collage Name"/>
                        </div>        
                        <button type="submit" class="btn-primary btn">Done</button>
                    </form> 
                </div>    
            </div>    
        </div> 
         <div class="container"> 
            <div class='row'>
                <div class='col-12 col-md-4'>
                    <h2 class="main_heading">Our Rules</h2>
                </div>    
                <div class='col-12 col-md-8'>
                    <div class="basic_desc">
                        <p>
                            This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh
                            velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum 
                            auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                             Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                            Morbi accumsan ipsum velit.
                        </p>    
                        <ul>
                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                            <li>This is Photoshop's version  of Lorem Ipsum</li> 
                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                            <li>This is Photoshop's version  of Lorem Ipsum</li>
                        </ul>
                    </div> 
                </div>    
            </div>    
        </div>
    </section>
    
       
    <section class="section10 portfolio section_common">
        <div class="container"> 
            <div class='row'>
                <h2 class="main_heading">Career</h2> 
                <div class='col-12 col-md-12'>
                    <h3 class="main_heading">We <span>don't just talk;</span> we build</h3>
                    <div class="basic_desc mb_100">
                        <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, 
nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor 
a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
Mauris in erat justo.</p>    
                    </div> 
                </div>    
            </div>    
        </div>    
         <div class="container mb_135 text-center portfolio_img"> 
            <div class='form-row'>
                <div class='col-md-4'>
                    <img class='img-fluid' src="{% static 'images/portfolio_img.jpg' %}" alt="" />
                </div>    
                <div class='col-md-4'>
                    <img class='img-fluid' src="{% static 'images/portfolio_img.jpg' %}" alt="" />
                </div>    
                <div class='col-md-4'>
                    <img class='img-fluid' src="{% static 'images/portfolio_img.jpg' %}" alt="" />
                </div>    
            </div>    
        </div>
    </section>
    
    <!-- Modal -->
    <div class="modal fade" id="ContactModal" tabindex="-1" role="dialog" aria-labelledby="ContactModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
<!--            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>-->
                <form action="" method="post" class="contact_form_design" > 
                    <!--<h2>Get In Touch With Us</h2>--> 
                    <div class='contact_text'>Leave us your contacts and we will call to arrage a meeting.
</div>
                    <div class="cont_form_body">
                    <div class="form-group"> 
                        <input class="form-control" type="text" name="user_name" value="" placeholder = "Name" />
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="user_phone" value="" placeholder="Phone"/>
                    </div>        
                    <div class="form-group">
                        <input class="form-control" type="text" name="user_email" value="" placeholder="Email"/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"  placeholder="The Details"></textarea>
                    </div>
                    <button type="submit" class="btn-primary btn btn-orange">To Send</button>
                    </div>
                </form> 
        </div>
      </div>
    </div>
     
    

{% endblock %}
